{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "universal-import",
    "@babel/proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
